<section class="headerBanner">
    <div class="logo-container">
        <div class="logo-wrapper">
            <img src="/assets/img/logo-white.png">
        </div>
    </div>
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-dark bg_color_primary d-flex justify-content-between row ">

            <div class="navbar-nav  col-4 align-items-start ">
                <div class="header-item show-btn">
                    <!-- <a routerLink="/">Hire a motor</a> -->
                    <a [routerLink]="['../']" class="head-btn">Home</a>
                </div>
            </div>

            <button class="  navbar-toggler ml-auto  align-items-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse  col-8 " id="navbarNavDropdown" [collapse]="isCollapsed">
                <div class="navbar-nav ml-auto header-item">
                    <div class="nav-item nav-link">
                        <select [(ngModel)]="ts.currentLang" class="lang-dropdown" (change)="api.changeLanguage(ts.currentLang)">
                            <option *ngFor="let lang of languages | keyvalue" [value]="lang.key">{{lang.value}}&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        </select>
                    </div>
                </div>
            </div>

        </nav>
    </div>

</section>
