<div class="m-container">
    <!-- <div class="head">
        <img src="/assets/img/logo.jpg" alt="">
    </div> -->
    <div class="detail-body mt-5">
        <p>Congratuations! <br> You have successfully added your vehicle.</p>
        <img src="/assets/img/camp-van.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis iure molestias qui vero beatae. Aliquam aperiam illum assumenda dolor odit. Doloribus, molestias eum! Facere enim vitae soluta itaque aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deserunt laborum consequuntur quia quis facere repellendus delectus rerum exercitationem</p>
        <button [routerLink]="['/lender/my-vehicles']" class="home-btn">Goto My vehicles</button>
    </div>
</div>
