<div class="m-container">
    <!-- <div class="head">
        <img src="/assets/img/logo.jpg" alt="">
    </div> -->
    <hr>
    <div class="detail-body mt-5">
        <p>Congratuations! You have successfully completed <br>the basics for your camper profile.</p>
        <img src="/assets/img/camp-van.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis iure molestias qui vero beatae. Aliquam aperiam illum assumenda dolor odit. Doloribus, molestias eum! Facere enim vitae soluta itaque aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deserunt laborum consequuntur quia quis facere repellendus delectus rerum exercitationem</p>
        <button [routerLink]="['/']" class="home-btn">Go to Home</button>
    </div>
</div>
