.default_holder {
   padding: 50px 0;
}
.top-message {
   /* margin-left: auto;
   margin-right: auto; */
   font-size: 35px;
   font-weight: bold;
   text-align: center;
   color: #48157c;
}
.second-message {
   text-align: center;
   font-size: 18px;
   color: gray;
}
.one {
   margin-top: 20px;
}
.three {
   margin-top: 40px;
   margin-bottom: 30px;
}

.row {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}
.btn-width {
    width:24%;
}
.btn {
   /* background-color: #9024fc; */
   border-radius: 20px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   padding: 10px;
   display: flex;
   justify-content: center;
   margin: 20px;
   transition-property: transform;
   transition-duration: 0.3s;
   flex-wrap: wrap;
}
.btn:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transform: scale(1.05);
}
.btn img {
    margin-top: 20px;
    width: 80px;
}
.btn p {
    width: 100%;
    color: #AEAEAE;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
}
/* .btn{

   width: 300px;
   height: 200px ;

   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, .1);
   padding: 10px;
   display: flex;
   justify-content: center;
   margin:30px;

}
.btn{

    width: 300px;
    height: 200px ;

    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 10px;
    display: flex;
    justify-content: center;
    margin:30px;

} */

.default_content {
   position: relative;
   margin-bottom: 20px;
}
.default_content p {
   color: #909090;
   font-size: 14px;
   line-height: 27px;
}
.q-box-heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.text-right {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.text-right p {
   color: blue;
   margin-top: 10px;
}
.space {
   width: 20px;
}
.default_content h2 {
   font-size: 18px;
   font-weight: 500;
}
.default_content h3 {
   font-size: 22px;
   margin-bottom: 25px;
}
.default_content ul {
   padding-left: 30px;
   list-style: disc;
   margin: 30px 0;
}
.default_content ul li {
   color: #909090;
   font-size: 14px;
   line-height: 27px;
}
.default_content ol {
   padding-left: 30px;
   list-style: circle;
   margin: 30px 0;
}
.default_content ol li {
   color: #909090;
   font-size: 14px;
   line-height: 27px;
}

.question-div {
   padding: 10px 25px;
   display: flex;
   margin: 0px 0px;
   justify-content: space-between;
   align-items: stretch;
   flex-grow: 1;
   background-color: #fafafa;
   cursor: pointer;
   border-top: 1px solid #cccccc;
   border-left: 8px solid #48157c;
}

.answer-div {
   background-color: #fff;
   background: #e8e8e8;
   border-top: none;
}
i.fas.fa-angle-right {
   font-size: 20px;
    color: #48157c;
}

.answer-div.hide {
   opacity: 0;
   height: 0;
   min-height: 0;
   max-height: 0;
   overflow: hidden;
   transition: all 1s, opacity 1.5s;
}

.answer-div.show {
   opacity: 1;
   height: auto;
   min-height: 120px;
   max-height: 400px;
   overflow: auto;
   padding: 10px 25px;
   transition: all 1s, opacity 1.5s;
}

.expand-collapse:hover {
   cursor: pointer;
   font-weight: bold;
   opacity: 0.7;
}
@media only screen and (max-width: 528px){ 
    .btn-width{
        width:100%;
    }   
}
