<div class="signin-container">
    <div class="signin-box">
        <div class="logo-container">
            <img class="bg-img" src="/assets/img/eldar-nazarov.png" alt="">
            <div class="logo">
                <img src="/assets/img/logo-black.png" alt="">
            </div>
        </div>
        <div class="login-container">
            <div class="login-head">
                <div class="heading">Forgot Password</div>
                <!-- <div class="alert alert-danger" role="alert" *ngIf="forgotError">{{forgotError}}</div> -->
            </div>
            <hr class="h-line">
            <div class="login-form">
                <div class="alert alert-danger" role="alert" *ngIf="forgotError">{{forgotError}}</div>
                <form #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm.form)">
                    <div class="row input-container">
                        <div class="col-md-12 form-inputs">
                            <label class="lab">Email</label>
                            <input type="email" class="fadeIn" ngModel name="email" required placeholder="Email"><span class="input-icon"><i class="fas fa-envelope"></i></span>
                            <div *ngIf="forgotForm.touched && forgotForm.controls['email'].invalid" style="font-weight: bold; color:red;">E-mail is invalid</div>
                        </div>
                    </div>
                    <div class="login-btn-container text-center">
                        <button [disabled]="loginLoading" class="login-btn" [ngClass]="loginLoading?'in-progress':''">Submit
                            <span></span><span></span><span></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>