.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    /* background-color: #F7F5F0; */
    align-items: center;
    text-align: center;
}
.footer-bottom-item {
    width: 35%;
    padding: 1%;
}
.footer-bottom-item span {
    color: #c9b084;
}
.footer-heart {
    color: #c9b084;
}
@media only screen and (max-width: 528px) {
    .footer {
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-item {
        width: 48%;
        text-align: center;
    }
    .footer-item-margin {
        margin: auto;
    }
    .footer-bottom {
        flex-wrap: wrap;
        height: auto;
    }
    .footer-bottom-item {
        width: 100%;
    }
}
