<div class="sidebar_navigation sidebar-bottom-margin">
    <ul>
        <li><a href="#" [routerLink]="['/tenant/profile']"><i class="fas fa-cogs profile"></i> <span>Profile Settings</span></a></li>
        <li><a href="#" [routerLink]="['/tenant/my-booking']"><i class="far fa-calendar-check"></i><span>My Booking</span></a></li>
        <li><a href="#" [routerLink]="['/tenant/my-favourite']"><i class="fas fa-star"></i> <span>My Favourite</span></a></li>
        <li><a href="#" [routerLink]="['/tenant/change-password']"><i class="fas fa-lock password"></i> <span>Change Password</span></a></li>
        <li><a href="#" (click)="logOut()"><i class="fas fa-sign-out-alt logout"></i> <span>Logout</span></a></li>
    </ul>
</div>
