thead th{
    background-color: #b19665;
}

.detail {
    padding: 4px 16px;
    border-radius: 16px;
    text-transform: initial;
    font-size: 14px;
}

.hide-custom{
    display: none;
}
.show-custom-hide:hover  .hide-custom{
    display: block;
    color: red;
}

.message-log {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
}
.btn-r{
    background-color: #c9b084;
    border: none;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    color: white;
    margin: 3px;
    padding: 5px 10px;
}
.btn-gr{
    background-color:gainsboro;
    border: none;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
    margin: 3px;

}

.message-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px;
}
.chat-container-active {
    display: -webkit-box;
    display: flex;
    background-color: #ddeeff;
    -webkit-box-pack: end;
    justify-content: flex-end;
    border-radius: 5px;
    width: 70%;
    margin: 3px;
    padding: 5px;
    margin-left: auto;
    min-height: 40px;
    margin-top: -7px;
}
.date-container-active {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    border-radius: 5px;
    width: 100%;
    font-size: 10px;
}

.chat-container-inactive {
    display: -webkit-box;
    display: flex;
    background-color: #f5f2d0;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 5px;
    width: 70%;
    margin: 3px;
    padding: 5px;
    min-height: 40px;
    margin-top: -7px;
}
.date-container-inactive {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 5px;
    width: 100%;
    margin-left: 5px;
    font-size: 10px;
}
.heading-color {
    color: #d04b4f;
}

.first-message-margin {
    margin-top: 7px;
}
.no-data-wrapper {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
